{% extends 'base.html' %}

{% block title %}
    Listing
{% endblock %}

{% block content %}

    {% for art, bid in pkg %}
    <div class="container-fluid">
        <a href="{% url 'view_artwork' art.id %}"><h1>{{ art.name }} </h1></a>
        <p>{{ bid }}</p>
        <table>
          <tr>
            <td>
              <img src="{{ art.image }}" alt="Student-Art" class="img-responsive" height="200" width="200">
            </td>
            <td>
              <img src="{{ art.original_image }}" alt="Original-Art" class="img-responsive" height="200" width="200">
            </td>
        </tr>
        </table>
      </div>
        <br>
    {% endfor %}

{% endblock %}
