{% extends 'base.html' %}

{% block title %}
    {{ item.name }}
{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
    <div class="container">
      <h1>{{ item.name }}</h1>
      <table>
        <tr>
          <td>
            <img src="{{ item.image }}" alt="Picture" height="200" width="200">
          </td>
          <td>
            <img src="{{ item.original_image }}" alt="Picture" height="200" width="200">
          </td>
        </tr>
      </table>
      <p>
        <form name="bid" onsubmit="return validate()" method="post" action="{% url 'view_artwork' item_id %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name"/>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email"/>
            </div>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" name="amount" placeholder="Amount"/>
                <div class="input-group-addon">.00</div>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" class="btn btn-success" value="Bid"/>
            </div>
        </form>
      </p>
      <hr/>
      <p>
          Started: {{ item.pub_date }}<br/>
          Ends: {{ item.end_date }}
      </p>
      <hr/>
      <p>
          {% for bidder in bidders %}
              {{ bidder }} bidded ${{ bidder.amount }}<br>
          {% endfor %}
      </p>
    </div>
{% endblock %}

{% block js %}

{% endblock %}